CLIENT_URL=http://YOUR_EC2_PUBLIC_IP
MONGO_URI=mongodb://mongo:27017/shopco_quote_task
PORT=5002
JWT_SECRET=replace_with_a_strong_secret

USE_ZOHO=true
ZOHO_REFRESH_TOKEN=your_refresh_token
ZOHO_CLIENT_ID=your_client_id
ZOHO_CLIENT_SECRET=your_client_secret
ZOHO_ACCOUNTS_URL=https://accounts.zoho.in
ZOHO_API_BASE_URL=https://www.zohoapis.in
ZOHO_CRM_BASE_URL=https://crm.zoho.in
ZOHO_DEALER_ID=
